:plain
  ---
  layout: default
  title: Contact Us - Thanks
  ---

%h1 Thank you

%p.lead Thank you for your {{site.title}} enquiry.

%p.lead We will be in touch within a few days to respond to your query.

%p
  Don&rsquo;t forget to come and find us on  Facebook &amp; Twitter
  %br
  {% include misc/icon-facebook.html %}
  {% include misc/icon-twitter.html %}
