@import 'vendor/bootstrap/variables';
@import 'app/variables';

.site-environment {
  background-color: $brand-warning;
  border-bottom-left-radius: $border-radius;
  color: $white;
  font-size: .7rem;
  line-height: 0;
  padding: .7rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10000;

  &.production { display: none; }
}

.svg-icon {
  > svg {
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    width: 2rem;

    path {
      fill: $white;
    }
  }
}
