!!! 5
%html.no-js{ lang: 'en' }
  {% include layouts/head.html %}
  %body
    {% include layouts/header.html %}

    .page-content
      .wrapper {{ content }}

    {% include layouts/footer.html %}
    {% include layouts/bottom.html %}
