!!! 5
%html.no-js{ lang: 'en' }
  %head {% include layouts/head.html %}

  %body
    %main
      .site-wrapper
        .site-wrapper-inner
          .cover-container
            {% include layouts/header.html %}

            .inner.cover {{ content }}

            {% include layouts/footer.html %}

    {% include layouts/bottom.html %}
