:plain
  ---
  layout: default
  ---

%article.post{ itemscope: true, itemtype: 'http://schema.org/BlogPosting' }
  %header.post-header
    %h1.post-title{ itemprop: 'name headline' } {{ page.title }}

    %p.post-meta
      %time{ datetime: '{{ page.date | date_to_xmlschema }}', itemprop: 'datePublished' }<
        {{ page.date | date: "%b %-d, %Y" }}

      {% if page.author %}
      •
      %span{ itemprop: 'author', itemscope: true, itemtype: 'http://schema.org/Person' }<
        %span{ itemprop: 'name' } {{ page.author }}
      {% endif %}

  .post-content{ itemprop: 'articleBody' } {{ content }}
