%script{ src: '{{ "/js/vendor.js" | prepend: site.baseurl }}', charset: 'utf-8' }
%script{ src: '{{ "/js/app.js" | prepend: site.baseurl }}', charset: 'utf-8' }

<div class="site-environment {{ site.environment }}">
{{ site.environment | capitalize }}
%span.hidden-sm-up<
  [x-small]
%span.hidden-md-up.hidden-xs-down<
  [small]
%span.hidden-lg-up.hidden-sm-down<
  [medium]
%span.hidden-xl-up.hidden-md-down<
  [large]
%span.hidden-lg-down<
  [x-large]
</div>
