%footer.mastfoot
  .inner
    %p
      {% include misc/icon-twitter.html %}
      %br.hidden-sm-up
      {% include misc/icon-facebook.html %}
      %br.hidden-sm-up
      {% include misc/icon-instagram.html %}
      %br
      {% include misc/icon-email.html %}
