%header.masthead.clearfix
  .inner
    %h3.masthead-brand
      %a{ href: "{{ '/' | prepend: site.baseurl }}" }
        {{ site.title }}

    %nav.nav.nav-masthead
      %a.nav-link{ href: "{{ '/' | prepend: site.baseurl }}" } Home
      %a.nav-link{ style: 'visibility: hidden' } &nbsp;
      %a.nav-link{ href: "{{ '/contact_us/' | prepend: site.baseurl }}" }
        Contact us
