<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<title>
{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
</title>
<meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}" name="description">
<meta content="{{ site.author }}" name="author">
<link href='{{ "/css/app.css" | prepend: site.baseurl }}' rel="stylesheet">
<link href='{{ page.url | replace: "index.html", "" | prepend: site.baseurl | prepend: site.url }}' rel="canonical">
<link href='{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}' rel="alternate" title="{{ site.title }}" type="application/rss+xml">
<link href="/images/favicon.ico" rel="icon">
